<template>
    <div class="wrap">

      <div class="p-0 card">
        <div class="p-2 border-t bg-grey-20">
          <div class="flex items-center justify-between">
            <div class="pr-4 flex justify-between w-full">
              <h2 class="flex-1 font-bold">Backups</h2>
              <button class="btn-primary relative" :disabled="loading" :aria-disabled="loading" v-bind:class="{'pl-5':loading}" @click="backup" >
                <img  v-if="loading" width="25" height="25" class="absolute left-1" style="top:6px;" src="/vendor/backup/images/loading.gif" alt="">
                Create new backup
              </button>

            </div>
          </div>
        </div>
      </div>
      <div class="card mt-10">
        <div class="p-2 border-t bg-grey-20">
          <table class="w-full">
            <thead>
            <tr>
              <td class="font-bold">file name</td>
              <td class="font-bold">restore</td>
              <td class="font-bold">download</td>
              <td class="font-bold">delete</td>
            </tr>
            </thead>
            <tbody>
              <download
                  v-for="download in backups"
                  :key="download.file_name"
                  :download="download"
                  :delete-route="deleteRoute"
                  :restore-route="restoreRoute"
              >
              </download>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- .wrap -->


</template>

<script>
import axios from 'axios';
import Download from './Download';

export default {
  components: {Download},
  props:['cp-route','downloads-route', 'delete-route','restore-route'],
    data() {
        return {
           confirming:false,
           loading:false,
           backups:[]
        }
    },

    mounted() {
        let that = this;
        console.log('hello' + this.cpRoute);
        that.fetchBackups();

      bus.$on('backup:deleted',() => {
        that.fetchBackups()
      });

    },


    methods: {

        backup(){
            let that = this;

            that.$toast.info('started backup');
            that.loading = true;

            axios.post(that.cpRoute)
                .then(function(response){
                  that.$toast.success('backup complete');
                  that.fetchBackups();
                  that.loading = false;

                }).catch(function(error){

                that.$toast.error('something went wrong');

            });


        },

        fetchBackups(){
          this.$toast.info('fetching backups');
          let that = this;
          axios.get(that.downloadsRoute).then(function (response){
            console.log(response.data);
            that.backups = response.data;
            that.$toast.success('fetched backups')
          }).catch(function (error){
              console.log(error);
             that.$toast.error('something went wrong');

          })

        }
    },
    
}
</script>