<template>
  <tr >
    <td>{{fileName}}</td>
    <td><a class="btn" @click="restoreBackup">Restore Backup</a></td>
    <td><a class="btn" :href="downloadLink">Download Backup</a></td>
    <td><a class="btn-danger" @click="deleteBackup">Delete</a></td>
  </tr>
</template>

<script>
import axios from "axios";

export default {

  props:['download','delete-route','restore-route'],
  data() {
    let that = this;
    return {
        created: that.download.created,
        fileName: that.download.file_name
    }
  },

  mounted() {

  },

  computed:{

    downloadLink(){
      return '/backups/' + this.fileName;
    },

    deleteLink(){
      return '/backup/delete-backup';
    }

  },

  methods: {

    deleteBackup(){

      this.$toast.info('deleting backup');
      let that = this;

      axios.post(that.deleteRoute,{ 'fileName' : that.fileName })
          .then(function(response){
            that.$toast.success('backup deleted');
            bus.$emit('backup:deleted');
          }).catch(function(error){

          that.$toast.error('something went wrong');

      });

    },

    restoreBackup(){
      this.$toast.info('restoring backup');
      let that = this;

      axios.post(this.restoreRoute,{ 'fileName' : that.fileName })
          .then(function(response){
            that.$toast.success('backup restored');
            bus.$emit('backup:restored');
          }).catch(function(error){
        console.debug(error);
        that.$toast.error('something went wrong');

      });
    }



  },

}
</script>